global
    maxconn 4096

defaults
    mode http
    option http-keep-alive
    timeout connect 1s
    timeout client 10s
    timeout server 10s

frontend fraud_score_frontend
    bind *:9999
    default_backend fraud_score_backend

backend fraud_score_backend
    balance roundrobin
    http-reuse always
    option httpchk GET /ready
    server api1 api1:9999 check
    server api2 api2:9999 check
